body {
  margin: 0px;
  min-height: 100%;
  background-color: rgb(204, 212, 212);
}

html { 
  height: 100%;
  scroll-behavior: smooth;
}

header {
  height: 85vh;
  background: linear-gradient(
    rgba(182, 197, 198, 0.4),
    rgba(231, 249, 250, 0.4)
    ), url('./images/hamza-tighza--EQgtTaeNwg-unsplash.jpg');
    background-size: cover;
    /* position: relative; */
  }

  .name-title {
    /* font-family: 'Libre Franklin', sans-serif; */
    font-family: 'Fredericka the Great', cursive;
    /* font-family: 'Amatic SC', cursive; */
    font-size: 4.5em;
    color: white;
    text-align: center;
    margin-bottom: 0;
    padding-top: 60vh;
    /* bottom: 0;
    position:absolute; */
  }
  
  .main-subtitle {
    font-family: 'Libre Franklin', sans-serif;
    color: rgb(24, 22, 24);
    text-align: center;
  }

    /* ------------------------------- */
    /* ----------- Skills ------------ */
    /* ------------------------------- */

.skills {
  background-color: rgb(198, 219, 219);
}

  .skills-header {
    font-family: 'Amatic SC', cursive;
    font-size: 6em;
    text-align: center;    
    color: cadetblue;
    margin: 0;
    padding: 6vh 0 6vh 0;
  }
  
  .all-the-skills {
    justify-content: center;
    display: grid;
    grid-template-columns: 14vw 14vw 14vw 14vw 14vw;
  }

  .all-the-skills2 {
    justify-content: center;
    display: grid;
    grid-template-columns: 14vw 14vw 14vw 14vw;
  }
  
  .skill{
    justify-self: center;
    padding-bottom: 8vh;
  }

  .skill-hidden-name {
    font-size: .5em;
    color: rgba(95, 154, 156, .5);
  }

  .js-name {
    position: relative;
    top: -20px;
    left: -20px;
  }

  .html-name {
    position: relative;
    top: -20px;
    left: -5px;
  }

  .css-name {
    position: relative;
    top: -20px;
    left: 5px;
  }

  .node-name {
    position: relative;
    top: -20px;
    left: 1px;
  }

  .react-name {
    position: relative;
    top: -20px;
    left: 1px;
  }

  .github-name {
    position: relative;
    top: -20px;
    left: 2px;
  }

  .ruby-name {
    position: relative;
    top: -20px;
    left: 13px;
  }

  .postgres-name {
    position: relative;
    top: -25px;
    left: -5px;
  }

  .sql-name {
    position: relative;
    top: -20px;
    left: 7px;
  }

  .row1, .row2 {
    width: 2vw;
    font-family: 'Libre Franklin', sans-serif;
    color: white;
    font-size: 2em;
    padding-top: 3vh;
  }

  /* ---------------------------------------- */
  /* ----------- Work / Projects ------------ */
  /* ---------------------------------------- */

    .works {
      font-family: 'Amatic SC', cursive;
      font-size: 6em;
      text-align: center;    
      color: cadetblue;
      margin: 0;
      padding: 6vh 0 6vh 0;
    }
    
    .bean-project{
      display: flex;
      justify-content: center;
    }
    
    .bean-screens {
      display: inline-block;
    }
    
    .modal-buttons {
      display: flex;
      justify-content: center;
      
    }
    
    .modal-button {
      text-align: center;    
      font-family: 'Amatic SC', cursive;
      font-size: 2em;
      color: cadetblue;
      border-radius: 5px;
      margin: 5vh 3vw 2vh 3vw;
    }

    .swal-button--ok {
      background: #0a0;
  }
    
    .title {
      font-family: 'Amatic SC', cursive;
      font-size: 4em;
      color: cadetblue;
      margin: 0;
      text-align: center;    
    }
    
    .project-blurb {
      text-align: center;    
      font-family: 'Amatic SC', cursive;
      font-size: 2em;
      color: cadetblue;
      margin: 0 auto 4vh auto;
    }

    /* ------------------------------- */
    /* -------- Contact Form --------- */
    /* ------------------------------- */

      .email-form {
        font-family: 'Fredericka the Great', cursive;
        height: 85vh;
        min-height:310px;
        background-image: url('./images/florian-klauer-expanded.png') ;
        background-position: 100% top;
        background-repeat: no-repeat;
        background-size: cover;
        opacity: 0.6;
        padding-left: 50vw;
        font-size: 2em;
        padding-top: 1vh;
        color:rgb(32, 45, 46);
        border: solid 2px lightgrey;
      }
      
      .email-form-header {
        font-family: 'Fredericka the Great', cursive;
        padding-top: 8vh;
        padding-bottom: 2vh;
        color:rgb(170, 127, 132);
      }
      
      
      .fields {
        display: grid;
        grid-template-columns: 18vw 18vw;
      }
      
      #name {
        height: 6vh;
        width: 16vw;
      }
      
      #email {
        height: 6vh;
        width: 18vw;
      }

      .half {
        padding-bottom: 4vh;
      }
      
      #message {
        margin-top: 4vh;
        height: 20vh;
        width: 30vw;
      }
      
      .msg-touch {
        margin-top: 40vh;
        padding-top: 4vh;
      }
      
      .send-touch-button {
        font-family: 'Fredericka the Great', cursive;
        color:rgb(32, 45, 46);
        margin-top: 1vh;
        height: 6vh;
        width: 10vw;
        font-size: .75em;
        border-radius: 6px;
      }
      
      
      /* -------------------------- */
      /* --------- Footer --------- */
      /* -------------------------- */
      
      footer {
        padding-top: 1vh;
        text-align: center;
        height: 6vh;
        font-family: 'Libre Franklin', sans-serif;
        margin-top: 0;
        background-color: rgb(204, 212, 212);
        color: rgba(95, 158, 160, 0.5);
      }
      
      .footer-icon {
        padding: 1.5vh .75vw;
      }
      
      .name-copyright {
        color: grey;
        font-size: 1em;
        margin: 0;
        padding-top: 1vh;
      }


